@import '/src/index.scss';

button{
    padding: 15px;
    border-radius: 25px;
    margin: 5px;
    background: $logo-theme-back;
    cursor: pointer;
    &:hover{
        background: lightgoldenrodyellow;
       }
    color: black;
    font-style: none;
    text-transform: uppercase;
}