@import 'macro-css';

.mainIntro{
    display: flex;
    flex-direction: column;
    justify-content: center;
   img{
    margin: auto;
   }
   p{
    text-align: center;
    height: auto;
    width: 30wv;
   }
   button{
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 25px;
    margin: 30px;
    &:hover{
        background: lightgoldenrodyellow;
       }
   }
 
}

.containerMain{
    background: white;
    height: auto;
    margin-top: 15px;
   
}
.containerMainDark {
    background: black;
    height: auto;
    color: whitesmoke;
}

.listMain{
    width: 60vw;
    background: #d6d6d6;
    color: black;
    padding: 6vw;
    border-radius: 45px;
    margin-bottom: 30px;
    ul{
        display: flex;
        flex-direction: column;
        li{
            flex-direction: row;
            img{
                width: 60px;

            }
            p{
               
            }
        }
    }
}

.authorsMain{
    h3{
        display: flex;
        justify-content: center;
        font-weight: 600;
    }
    button{
        display: flex;
        justify-content: center;
        padding: 20px;
        border-radius: 25px;
        margin: 30px;
        &:hover{
            background: lightgoldenrodyellow;
           }
    }
    img{
        width: 12vw;
        cursor: pointer;
    }
    ul{ 
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 2vh;
        column-gap: 4vw;
       
    }


}
.sliderMain{
  
}

.ulListMain{
    li{
        display: grid;
        grid-template-columns: 100px auto ;
        column-gap: 3wv;
        margin-bottom: 3vh;
    }
}
.liListMain{

}
@media all and (max-width:500px){
.sliderMain{
    .next,.previous{
        display: none;
    }
}
}