@import '/src/index.scss';
button{
    background: $logo-theme-back;
    border: none;
}

body{
    margin: 0;
}
.headerTop{
    display: flex;
    align-items: center;
    cursor: default;
    .btn {
       
    }

    nav{
        display: flex;
       
    }

}