@import '/src/index.scss';
footer{
    flex: 0 0 auto;
    width: 100%;
    height: 70px;
    hr{
        margin: 0 auto;
        width:100%;
    }
    .author{
        font-size: 10px;
    }
   
}
body{
    margin: 0;
}
